@page
@model WhatsYourOpinion.Pages.AnswerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "What's your opinion on " + Model.Opinion.Topic.Title + "?";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="title text-center"> What's your opinion on @(Model.Opinion.Topic.Title)?</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <form id="opinionForm" method="post">
            <textarea name="Opinion.Comment" class="form-control"></textarea>
            <input type="hidden" name="Opinion.TopicId" value="@Model.Opinion.Topic.Id" />
            <input class="btn btn-primary" type="submit" />
        </form>
    </div>
</div>